/*  master style */

body {
    font-family: 'Fira Sans', sans-serif;
    margin: 0px;
    background-color: lavender; 
    color: #333333;
}


.container {
    display: grid;
    grid-template-columns: 1fr;
}

/* nav styles */
.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 38px;
}

.left-side {
    display: flex;
}

.center {
    font-style: oblique;
    display: flex;
}

.right-side {
    font-weight: 600;
    color: powderblue;
}

.nav-wrapper > .left-side > div {
    margin-right: 20px;
    font-size: 0.9rem;
    text-transform: uppercase;
}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.active-nav-link {
    border-bottom: 1px solid rgb(82, 69, 69);
}

.active-nav-link a {
    color: rgb(82, 69, 69) !important;
}

.nav-link-wrapper a {
    color: #c2dde0;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
    color: black;
}

/* about style */

.intro {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.name {
    font-weight: bold;
    font-family: 'Philosopher', sans-serif;
    text-transform: uppercase;
    color: lemonchiffon;
}

.container {
    max-width: 840px;
    margin: 20px auto;
    align-content: center;
}

.about-grid {
    display: grid;
    align-content: center;
    grid-template-columns: 50% 50%;
}
@media (max-width: 480px) {
    .about-grid {
      grid-template-columns: 100%;
    }
}

.about-section {
    text-align: center;
    text-decoration: none;
}

.about-list {
    text-align: left;
    font-family: Poppins;
}

.about-list {
    padding: 0;
}

.heading {
    font-family: 'Philosopher', sans-serif;
    text-align: center;
}



.contact {
    display: grid;
    align-content: center;
    grid-template-columns: 30% 70%;
}

.links {
    justify-self: center;
}

.links-list {
    list-style: none;
    padding: 0;
}
@media (max-width: 650px) {
    .links-and-contact {
      grid-template-columns: 100%;
    }
}

.profile-image {
    border-radius: 50%;
    width: 170px;
    height: 170px;
    box-shadow: 6 4px 4px 7 rgba(34, 60, 80, 0.16);
    transition: all ease-in-out 0.2s;
}

.profile-image:hover {
    box-shadow: 0 8px 12px 0 rgba(34, 60, 80, 0.16);
}

form input,
textarea {
    padding: 5px;
    border-radius: 5px;
    width: 240px;
}

form {
    width: 250px;
    margin: 0 auto;
}

form input[type='submit'] {
    width: 250px;
}

.submit-button-wrapper {
    margin: 8px 0;
}

.form-heading {
    margin-bottom: 8px;
    font-family: Philosopher;
    color:rgb(59, 63, 114);
}

/* portfolio style */

.items-wrapper{
    display: grid;
    grid-template-columns: 1fr, 1fr;
    margin: 10px;
}

.item-wrapper {
    position: relative;
}

.img-background {
    height: 400px;
    width: 100%;
    background-size: cover;
    background-position: center;
}


.text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.title {
    font-size: x-large;
    font-style: bold;
    color: white;
    font-family: Philosopher;
}

.text-wrapper .subtitle {
    transition: 1s;
    color: transparent;
    font-family: Verdana;

}

.text-wrapper:hover .subtitle {
    font-weight: 600;
    color: darkslategray;
    font-family: Verdana;
}

.img-blur {
    transition: 1s;
    filter: brightness(10%);
}

